@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888; 
}
.dark .dark\:bg-search-dark{
  background-image:url("../../public/search_light.svg")
}
.bg-search-light{

    background-image:url("../../public/search.svg")
}
.dark .dark\:bg-dots-dark{
  background-image:url("../../public/vertical_dots_light.svg")
}
.bg-dots-light{

    background-image:url("../../public/dots_vertical.svg")
}
.bg-back-all{
  background-image:url("../../public/ban_1.png");
  background-position:center;
  background-attachment: fixed;
  
}

.line-animation{

animation-direction:alternate;

}

.H-con{
  height: calc(100vh - 80px);
}
/* 

@keyframes showLine{
  0%:{
    left:0px
  }
  100%:{
    left:75px
  }
} */